
a{
  color: #F4F0EA;
  text-decoration: underline !important;
}


.main{
  height: 100vh;
  width: 100%;
  background-image: url("/src/images/content/background-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #F4F0EA;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .logo{
    font-family: Satoshi-Medium;
    font-feature-settings: "salt";
    span{
      font-feature-settings: "smcp";
    }
  }
}


.main_section{
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title{
    width: 100%;
    font-size: 90px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: Satoshi-Bold;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    h2{
      line-height: 0.8;
      font-family: "Signifier";
      align-self: center;
    }
  }
  .subtitle{
    width: 90%;
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    font-family: Space-Mono;
  }
}


.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Satoshi-Regular;
  color: white;
  .link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .social{
      text-decoration: underline !important;
      font-feature-settings: "salt";
      font-weight: 500;
      span{
        font-feature-settings: "smcp";
      }
    }
  }
}


@media only screen and (max-width: 700px) {


  .main{
    font-size: 15px;
    justify-content: center;
    overflow-y: hidden;
    max-height: 100vh;
  }

  .header{
    position: fixed;
    top: 20px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 20px;
    font-size: 12px;
  }

  .logo{
    font-size: 16px;
  }

  .main_section{
    padding: 0px;
    width: 100%;
    .title{
      font-size: 35px;
      margin-bottom: 20px;
    }
    .subtitle{
      margin-bottom: 40px;
      font-size: 16px;
    }
  }

  .footer{
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 20px;
    .social{
      font-size: 16px;
    }
  }


}